

<div class="container-pers">

    <div class="card card d-flex flex-column">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
              <h2 style="color: rgb(95, 95, 95);">Crear Modelo Oc6</h2>
          </div>
      </div>
  
    <div class="card-body flex-grow-1">
        <form [formGroup]="formCrear">
  
            <div class="example-inline-container">
                <mat-form-field class="example-form-field">
                    <mat-label>Oficina</mat-label>
                    <mat-select formControlName="occm" required>
                      <mat-option *ngFor="let occm of occms" [value]="occm.id">{{ occm.id_occm }}</mat-option>
                    </mat-select>
                  </mat-form-field>
              
                  <mat-form-field class="example-form-field">
                    <mat-label>Oficina Original</mat-label>
                    <mat-select formControlName="occm_origen" required>
                      <mat-option *ngFor="let occm of occms" [value]="occm.id">{{ occm.id_occm }}</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>

              <div class="example-inline-container">
                <mat-form-field class="example-form-field">
                    <mat-label>Cantidad de Multas</mat-label>
                    <input matInput type="number" formControlName="cantidad_multas" required>
                  </mat-form-field>

                <mat-form-field class="example-form-field">
                    <mat-label>Importe Total</mat-label>
                    <input matInput type="number" formControlName="importe_total" required>
                  </mat-form-field>

                  <mat-form-field class="example-form-field">
                    <mat-label>Suma de Serie</mat-label>
                    <input matInput type="number" formControlName="suma_serie" required>
                  </mat-form-field>
              </div>

              <div class="example-inline-container">

                <mat-form-field class="example-form-field">
                    <mat-label>Suma de Dias</mat-label>
                    <input matInput type="number" formControlName="suma_dias" required>
                  </mat-form-field>

                  <mat-form-field class="example-form-field">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estado" required>
                      <mat-option value="draft">No Confirmado</mat-option>
                      <mat-option value="done">Confirmado</mat-option>
                      <mat-option value="wait">Pendiente</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>

              <button (click)="openDialog()" mat-button color="primary">Crear Multa</button>
  
              <div class="example-button-container">
                <!-- Agrega tus botones aquí -->
                <button mat-raised-button (click)="crearModeloOc6()" color="primary" style="margin-right: 5px;">Aceptar</button>
                <button mat-raised-button [routerLink]="['/recepción/modeloOC6/listado']" color="secundary">Volver</button>
              </div>
    
        </form>
    </div>
  
    </div>
  </div> 

<!-- Dialog -->
<ng-template #dialogTemplate let-dialogRef="dialogRef">
  <h1 mat-dialog-title>Crear Multas</h1>
  <div mat-dialog-content class="mat-typography">
    <form [formGroup]="formCrearMulta">
  
      <div class="example-inline-container">
          <mat-form-field class="example-form-field">
            <mat-label>Decreto-Articulo-Inciso</mat-label>
            <input matInput type="number" formControlName="dley_art_inc" required>
            </mat-form-field>
        
            <mat-form-field class="example-form-field">
              <mat-label>Impositor</mat-label>
              <input matInput type="number" formControlName="impositor" required>
            </mat-form-field>
        </div>

        <div class="example-inline-container">
          <mat-form-field class="example-form-field">
            <mat-label>Talon</mat-label>
            <input matInput type="number" formControlName="talon" required>
          </mat-form-field>

          <mat-form-field class="example-form-field">
            <mat-label>Importe</mat-label>
            <input matInput type="number" formControlName="importe" required>
          </mat-form-field>

          <mat-form-field class="example-form-field">
            <mat-label>Tipo de Multa</mat-label>
            <input matInput type="number" formControlName="tipo_multa" required>
          </mat-form-field>
        </div>

        <div class="example-inline-container">
          <mat-form-field class="example-form-field">
            <mat-label>Estado de Multa</mat-label>
            <input matInput type="number" formControlName="estado_multa_id" required>
          </mat-form-field>

          <mat-form-field class="example-form-field">
            <mat-label>Moneda</mat-label>
            <input matInput type="number" formControlName="moneda" required>
          </mat-form-field>

          <mat-form-field class="example-form-field">
            <mat-label>Fecha</mat-label>
              <input matInput placeholder="Mes/Día/Año" [matDatepicker]="picker" formControlName="fecha" required readonly>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="example-inline-container">
          <mat-form-field class="example-form-field">
            <mat-label>Concepto de Traslado</mat-label>
            <input matInput type="conceptraslado" formControlName="estado_multa_id" required>
          </mat-form-field>

          <mat-form-field class="example-form-field">
            <mat-label>Contraventor</mat-label>
            <input matInput type="contraventor" formControlName="moneda" required>
          </mat-form-field>
        </div>

        <div class="example-inline-container">
          <mat-checkbox formControlName="temporal" color="primary">
            Temporal
          </mat-checkbox>
          <mat-checkbox formControlName="devolver" color="primary">
            Devolver
          </mat-checkbox>
          <mat-checkbox formControlName="recibida_traslado" color="primary">
            Traslado Recibida
          </mat-checkbox>
          <mat-checkbox formControlName="carga" color="primary">
            Carga
          </mat-checkbox>
          <mat-checkbox formControlName="nivel" color="primary">
            Nivel
          </mat-checkbox>
        </div>
        
        </form>
        </div>
        <div mat-dialog-actions align="end">
          <button mat-raised-button color="primary" (click)="agregarMulta()">Guardar</button>
          <button mat-raised-button color="warn" (click)="dialogRef.close()">Cerrar</button>
        </div>
        </ng-template>

  

  

