
<div class="container-pers">

    <div class="card card d-flex flex-column">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
              <h2 style="color: rgb(95, 95, 95);">Crear Entrega Recepción e Imposición</h2>
          </div>
      </div>
  
    <div class="card-body flex-grow-1">
        <form [formGroup]="formCrear">

            <div class="example-inline-container">
                <mat-form-field class="example-form-field">
                    <mat-label>Fecha</mat-label>
                    <input matInput placeholder="Mes/Día/Año" [matDatepicker]="picker" formControlName="fecha" required readonly>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field class="example-form-field">
                    <mat-label>OCCM Destino</mat-label>
                    <mat-select formControlName="occm_destino" required>
                      <mat-option *ngFor="let occm of occms" [value]="occm.id">{{ occm.descripcion }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="example-form-field">
                    <mat-label>Organismo</mat-label>
                    <mat-select formControlName="organismo" required>
                      <mat-option *ngFor="let organismo of organismos" [value]="organismo.id">{{ organismo.nombre }}</mat-option>
                    </mat-select>
                  </mat-form-field>

              </div>

              <div class="example-inline-container">

                <mat-form-field class="example-form-field">
                    <mat-label>Código Entrega</mat-label>
                    <input matInput type="text" formControlName="codentrada" required>
                  </mat-form-field>

                  <mat-form-field class="example-form-field">
                    <mat-label>Entregado por</mat-label>
                    <input matInput type="text" formControlName="entregadox" required>
                  </mat-form-field>

                  <mat-form-field class="example-form-field">
                    <mat-label>Recibido por</mat-label>
                    <input matInput type="text" formControlName="recibidox" required>
                  </mat-form-field>
                </div>

                <div class="example-inline-container">

                    <mat-form-field class="example-form-field">
                        <mat-label>Referencia</mat-label>
                        <input matInput type="text" formControlName="referencia" required>
                      </mat-form-field>

                      <mat-form-field class="example-form-field">
                        <mat-label>Serie</mat-label>
                        <input matInput type="text" formControlName="serie" required>
                      </mat-form-field>

                      <mat-form-field class="example-form-field">
                        <mat-label>NumerD</mat-label>
                        <input matInput type="text" formControlName="numerd" required>
                      </mat-form-field>

                  </div>

                  <div class="example-inline-container">

                    <mat-form-field class="example-form-field">
                      <mat-label>Movimiento</mat-label>
                      <mat-select formControlName="movimiento" required>
                        <mat-option value="Entrada">Entrada</mat-option>
                        <mat-option value="Salida">Salida</mat-option>
                      </mat-select>
                    </mat-form-field>

                      <mat-form-field class="example-form-field">
                        <mat-label>Tipo</mat-label>
                        <mat-select formControlName="tipo" required>
                          <mat-option value="Entrega">Entrega</mat-option>
                          <mat-option value="Recepción">Recepción</mat-option>
                        </mat-select>
                      </mat-form-field>

                    <mat-form-field class="example-form-field">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="estado" required>
                          <mat-option value="No confirmado">No confirmado</mat-option>
                          <mat-option value="Confirmado">Confirmado</mat-option>
                          <mat-option value="Cancelado">Cancelado</mat-option>
                        </mat-select>
                      </mat-form-field>
                      
                      <mat-form-field class="example-form-field">
                        <mat-label>NumerH</mat-label>
                        <input matInput type="text" formControlName="numerh" required>
                      </mat-form-field>
                  </div>

                  <div class="example-inline-container">

                    <div class="example-inline-container">
                      <mat-checkbox formControlName="carga_inicial" color="primary">
                          Carga Inicial
                      </mat-checkbox>
                    </div>

                      <div class="example-inline-container">
                        <mat-checkbox formControlName="activo" color="primary">
                            Activo
                        </mat-checkbox>
                      </div>
                  </div>

              <div class="example-button-container">
                <!-- Agrega tus botones aquí -->
                <button mat-raised-button (click)="crearEntregaRecepcionImposicion()" color="primary" style="margin-right: 5px;">Aceptar</button>
                <button mat-raised-button [routerLink]="['/talonarios/entrega-recepcion-imposicion/listado']" color="secundary">Volver</button>
              </div>
    
        </form>
    </div>
 
    </div>
  </div> 
</div>



