
<div class="container-pers">

    <div class="card card d-flex flex-column">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
              <h2 style="color: rgb(95, 95, 95);">Crear Organismo</h2>
          </div>
      </div>
  
    <div class="card-body flex-grow-1">
        <form [formGroup]="formCrear">

            <div class="example-inline-container">
            <mat-form-field class="example-form-field">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="nombre" required>
              </mat-form-field>

              <mat-form-field class="example-form-field">
                <mat-label>Identificador</mat-label>
                <input matInput formControlName="id_organismo" required>
              </mat-form-field>
            </div>

            <div class="example-inline-container">
                    
                <mat-form-field class="example-form-field">
                    <mat-label>Decretos Ley</mat-label>
                    <mat-select formControlName="decreto_ley_id" required multiple>
                      <mat-option *ngFor="let decreto of decretosLey" [value]="decreto.id">{{ decreto.descripcion }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

            <div class="example-inline-container">
               
                <mat-form-field class="example-form-field">
                    <mat-label>Tipo de Multa</mat-label>
                    <mat-select formControlName="tipo_multa_id" required>
                      <mat-option *ngFor="let tipoMulta of tiposMultas" [value]="tipoMulta.id">{{ tipoMulta.descripcion }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field *ngIf="formCrear.get('asociado')?.value" class="example-form-field">
                    <mat-label>Organismo Asociado</mat-label>
                    <mat-select formControlName="asociado_id" required>
                      <mat-option *ngFor="let organismo of organismosAsociados" [value]="organismo.id">{{ organismo.nombre }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>

                <div class="example-inline-container">
                    <mat-checkbox formControlName="asociado" color="primary">
                        Asociado
                    </mat-checkbox>
                  
                  </div>

              <div class="example-button-container">
                <!-- Agrega tus botones aquí -->
                <button mat-raised-button (click)="crearOrganismo()" color="primary" style="margin-right: 5px;">Aceptar</button>
                <button mat-raised-button [routerLink]="['/nomencladores/divisiones/organismos']" color="secundary">Volver</button>
              </div>
    
        </form>
    </div>
 
    </div>
  </div> 
</div>