
<div *ngIf="loading" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <div class="container-pers">
  
    <div class="card card d-flex flex-column">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
              <h2 style="color: rgb(95, 95, 95);">Detalles de Concepto de Traslado</h2>
          </div>
      </div>
  
    <div *ngIf="!loading" class="card-body flex-grow-1">
      <div class="container-fluid"> 
        <div class="row desplazador-horizontal">
          <div class="col-lg-6 col-md-12">
            <div class="half-text">
              <strong>Descripción:</strong>
            </div>

              <div class="half-text">
                <strong>Automático:</strong>
              </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="half-text">
              <span>{{ conceptoTraslado.descripcion }}</span>
            </div>

              <div class="half-text">
                <span *ngIf="!conceptoTraslado.automatico">No</span>
                <i *ngIf="conceptoTraslado.automatico" class="fa fa-check"></i>
              </div>
          </div>
        </div>
      </div>
      <div class="example-button-container">
        <button mat-raised-button [routerLink]="['/nomencladores/divisiones/conceptos-traslado']" color="secundary">Volver</button>
      </div>     
    </div>
  
    </div>
  </div> 


