
<div *ngIf="loading" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

<div class="container-pers">

    <div class="card card d-flex flex-column">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
              <h2 style="color: rgb(95, 95, 95);">Editar Devolución</h2>
          </div>
      </div>
  
    <div *ngIf="!loading" class="card-body flex-grow-1">
        <form [formGroup]="formEditar">

            <div class="example-inline-container">
                <mat-form-field class="example-form-field">
                  <mat-label>Fecha</mat-label>
                  <input matInput formControlName="id_matriz" required>
                </mat-form-field>
                
                <mat-form-field class="example-form-field">
                    <mat-label>Concepto Devolución </mat-label>
                    <mat-select formControlName="concepto_devolucion_id" required>
                      <mat-option *ngFor="let conceptoDevolucion of conceptoDevoluciones" [value]="conceptosDevolucion.id">{{ conceptoDevoluciones.descripcion }}</mat-option>
                    </mat-select>
                  </mat-form-field>
         
              </div>
              
              <div class="example-inline-container"> 
                <mat-form-field class="example-form-field"> 
                <mat-label>Importe</mat-label>
                <input matInput type="number"  formControlName="importe" required readonly>
                </mat-form-field>

                <mat-form-field class="example-form-field">
                  <mat-label>Fecha</mat-label>
                  <input matInput placeholder="Mes/Día/Año" [matDatepicker]="picker" formControlName="matriz_fecha" required readonly>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                
            </div>
            
            <div class="example-inline-container">
                  <mat-form-field class="example-form-field">
                    <mat-label>Concepto Cancelación </mat-label>
                    <mat-select formControlName="ccancel_id" required>
                      <mat-option *ngFor="let conceptosCancelacion of conceptosCancelaciones" [value]="conceptosCancelacion.id">{{ conceptosCancelacion.descripcion }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="example-form-field">
                    <mat-label>Tipos de Multas </mat-label>
                    <mat-select formControlName="tipo_multa_id" required>
                      <mat-option *ngFor="let tipoMulta of tipoMultas" [value]="tipoMultas.id">{{ tipoMultas.descripcion }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                
              </div>

            <div class="example-inline-container">
                  <mat-form-field class="example-form-field">
                    <mat-label>Organismos</mat-label>
                    <mat-select formControlName="organismos" required>
                      <mat-option *ngFor="let organismo of organismos" [value]="organismos.id">{{ organismos.descripcion }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="example-form-field">
                    <mat-label>Tipo Multa </mat-label>
                    <mat-select formControlName="tipo_multa_id" required>
                      <mat-option *ngFor="let tipoMulta of tipoMultas" [value]="tipoMultas.id">{{ tipoMultas.descripcion }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                
              </div>
              
            <div class="example-inline-container">
                  <mat-form-field class="example-form-field">
                    <mat-label>Organismos</mat-label>
                    <mat-select formControlName="organismos" required>
                      <mat-option *ngFor="let organismo of organismos" [value]="organismos.id">{{ organismos.descripcion }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="example-form-field">
                    <mat-label>Tipo Multa </mat-label>
                    <mat-select formControlName="tipo_multa_id" required>
                      <mat-option *ngFor="let tipoMulta of tipoMultas" [value]="tipoMultas.id">{{ tipoMultas.descripcion }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                
              </div>

              <div class="example-button-container">
                <!-- Agrega tus botones aquí -->
                <button mat-raised-button (click)="editarCancelar()" color="primary" style="margin-right: 5px;">Aceptar</button>
                <button mat-raised-button [routerLink]="['/operaciones/cancelar']" color="secundary">Volver</button>
              </div>
    
        </form>
    </div>
 
    </div>
  </div> 



