
<a class="nav-link collapsed" href="" (click)="disableLink($event)" [matMenuTriggerFor]="recepcion" data-toggle="collapse">
    <i class="fas fa-tag" style="margin-right: 10px;"></i>
    <span>Operaciones</span>
</a>

<mat-menu #tools="matMenu">
    <button [matMenuTriggerFor]="recepcion" mat-menu-item>Operaciones</button>
  </mat-menu>
  <mat-menu #recepcion="matMenu">
    <button mat-menu-item [routerLink]="['/operaciones/apremiar/listado']">Apremiar</button>
    <button mat-menu-item [routerLink]="['/operaciones/cancelar/listado']">Cancelar</button>
    <button mat-menu-item [routerLink]="['/operaciones/comunicacion-embargo/listado']">Comunicación y Embargo</button>
    <button mat-menu-item [routerLink]="['/operaciones/devolucion/listado']">Devolución</button>
    <button mat-menu-item [routerLink]="['/operaciones/duplicar/listado']">Duplicar</button>
    <button mat-menu-item [routerLink]="['/operaciones/convenio-plazo/listado']">Convenio Plazo</button>
    <button mat-menu-item [routerLink]="['/operaciones/convenio/listado']">Convenio</button>
    <button mat-menu-item [routerLink]="['/operaciones/ajustar/listado']">Ajustar</button>
  </mat-menu>
  
