<div *ngIf="loading" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <div class="container-pers">
  
    <div class="card card d-flex flex-column">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
              <h2 style="color: rgb(95, 95, 95);">Detalles</h2>
          </div>
      </div>
  
    <div *ngIf="!loading" class="card-body flex-grow-1">
      <div class="container-fluid"> 
        <div class="row desplazador-horizontal">
          <div class="col-lg-6 col-md-12">
            <div class="half-text d-flex">
              <strong>Matriz:</strong>
              <div class="col-lg-6 col-md-12">
                <span *ngIf="cancelar.id_matriz">{{ cancelar.id_matriz.c1 }}</span>
              </div>
            </div>
            </div>

            <div class="half-text d-flex">
              <strong>Movimiento:</strong>
              <div class="col-lg-6 col-md-12">
                  <span *ngIf="cancelar.mov_multa_id">{{ cancelar.mov_multa_id.operacion }}</span>
                </div>
              </div>
            
            <div class="half-text d-flex">
                <strong>Fecha Cancelación :</strong>
                <div class="col-lg-6 col-md-12">
                  <span>{{ cancelar.fecha_cancelacion }}</span>
                </div>
              </div>
          </div>
          <div class="half-text d-flex">
            <strong>Concepto Cancelación:</strong>
            <div class="col-lg-6 col-md-12">
              <span>{{ cancelar.ccancel_id.descripcion }}</span>
            </div>
          </div>
          
            <div class="half-text d-flex">
              <strong>Notas:</strong>
              <div class="col-lg-6 col-md-12">
                <span *ngIf="cancelar.notas">{{ cancelar.notas }}</span>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="example-button-container">
        <button mat-raised-button [routerLink]="['/operaciones/cancelar/listado']" color="secundary">Volver</button>
      </div>     
    </div>
  
   
  </div> 
  
