

<a class="nav-link collapsed" href="" (click)="disableLink($event)" [matMenuTriggerFor]="base" data-toggle="collapse">
    <i class="fas fa-database" style="margin-right: 10px;"></i>
    <span>Base</span>
</a>

<mat-menu #tools="matMenu">
    <button [matMenuTriggerFor]="base" mat-menu-item>Base</button>
  </mat-menu>
  <mat-menu #base="matMenu">
    <button mat-menu-item [routerLink]="['/base/matriz/listado']">Matriz</button>
     <button mat-menu-item [routerLink]="['/base/sub-movimiento-multa/listado']">Sub Movimiento de Multa</button>
    <button mat-menu-item [routerLink]="['/base/centros-de-trabajos/listado']">Centro de Trabajo</button>
    <button mat-menu-item [routerLink]="['/base/contraventor/listado']">Contraventor</button>
    <button mat-menu-item [routerLink]="['/base/operador/listado']">Operador</button>
    <!-- <button mat-menu-item [routerLink]="['/base/modeloOc37/listado']">Modelo Oc37</button>
    <button mat-menu-item [routerLink]="['/base/modeloOc37/listado']">Modelo Oc39</button>
    <button mat-menu-item [routerLink]="['/base/modeloOc37/listado']">Modelo Oc9</button>
    <button mat-menu-item [routerLink]="['/base/modeloOc37/listado']">Modelo Oc36</button> -->
  </mat-menu>
  
 


