
<div class="container-pers">

    <div class="card card d-flex flex-column">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
              <h2 style="color: rgb(95, 95, 95);">Crear Devolución</h2>
          </div>
      </div>
  
    <div class="card-body flex-grow-1">
  
        <form [formGroup]="formCrear">
            <div class="example-inline-container">
              <mat-form-field class="example-form-field">
                <mat-label>Matriz </mat-label>
                <mat-select formControlName="id_matriz" required>
                  <mat-option *ngFor="let matriz of matrices" [value]="matriz.id">{{ matriz.c1 }}</mat-option>
                </mat-select>
              </mat-form-field>
  
                <mat-form-field class="example-form-field">
                    <mat-label>Concepto Devolución </mat-label>
                    <mat-select formControlName="concepto_devolucion_id" required>
                      <mat-option *ngFor="let conceptoDevolucion of conceptosDevolucion" [value]="conceptoDevolucion.id">{{ conceptoDevolucion.descripcion }}</mat-option>
                    </mat-select>
                  </mat-form-field>
  
                
              </div>
              
              <div class="example-inline-container">  
                <mat-form-field class="example-form-field">
                    <mat-label>Importe</mat-label>
                    <input matInput type="number" formControlName="importe" required>
                </mat-form-field>

                <mat-form-field class="example-form-field">
                  <mat-label>Fecha</mat-label>
                  <input matInput placeholder="Mes/Día/Año" [matDatepicker]="picker" formControlName="matriz_fecha" required readonly>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
  
                
            </div>
            
            <div class="example-inline-container">
                  <mat-form-field class="example-form-field">
                    <mat-label>Concepto Cancelación </mat-label>
                    <mat-select formControlName="ccancel_id" required>
                      <mat-option *ngFor="let conceptoCancelacion of conceptosCancelacion" [value]="conceptoCancelacion.id">{{ conceptoCancelacion.descripcion }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  
                  <mat-form-field class="example-form-field">
                    <mat-label>Tipo de Multa </mat-label>
                    <mat-select formControlName="tipo_multa_id" required>
                      <mat-option *ngFor="let tipoMulta of tiposMulta" [value]="tipoMulta.id">{{ tipoMulta.descripcion }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
                
                <div class="example-inline-container">
                      <mat-form-field class="example-form-field">
                        <mat-label>Organismo </mat-label>
                        <mat-select formControlName="organismo" required>
                          <mat-option *ngFor="let organismo of organismos" [value]="organismo.id">{{ organismo.nombre }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                      
                      <mat-form-field class="example-form-field">
                        <mat-label>Decreto Ley </mat-label>
                        <mat-select formControlName="decreto_ley" required>
                          <mat-option *ngFor="let decretoLey of decretosLey" [value]="decretoLey.id">{{ decretoLey.decreto_ley.descripcion }}</mat-option>
                        </mat-select>
                      </mat-form-field>
    
                    </div>
                    
                <div class="example-inline-container">
                    <mat-form-field class="example-form-field">
                        <mat-label>Notas</mat-label>
                        <input matInput formControlName="observaciones" required>
                      </mat-form-field>

                      <mat-form-field class="example-form-field" [color]="stateControl.value!">
                        <mat-label>Estado</mat-label>
                        <mat-select  [formControl]="stateControl">
                          <mat-option value="no_confirmado">No Confirmado</mat-option>
                          <mat-option value="confirmado">Confirmado</mat-option>
                        </mat-select>
                      </mat-form-field>
                      
                    </div>

              <div class="example-button-container">
                <!-- Agrega tus botones aquí -->
                <button mat-raised-button (click)="crearDevolucion()" color="primary" style="margin-right: 5px;">Aceptar</button>
                <button mat-raised-button [routerLink]="['/operaciones/devolucion/listado']" color="secundary">Volver</button>
              </div>
    
        </form>
    </div>
  
    </div>
  </div> 
  </div>
  
  
  
