
<div class="container-pers">

    <div class="card card d-flex flex-column">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
              <h2 style="color: rgb(95, 95, 95);">Crear Apremio</h2>
          </div>
      </div>
  
    <div class="card-body flex-grow-1">
        <form [formGroup]="formCrear">

            <div class="example-inline-container">
                <mat-form-field class="example-form-field">
                  <mat-label>Matriz</mat-label>
                  <input matInput formControlName="id_matriz" required>
                </mat-form-field>
              
                <mat-form-field class="example-form-field">
                  <mat-label>Movimiento</mat-label>
                  <input matInput formControlName="mov_multa_id" required>
                </mat-form-field>

              </div>

              <div class="example-inline-container">
                <mat-form-field class="example-form-field">
                  <mat-label>Estado nuevo de la multa </mat-label>
                  <mat-select formControlName="estado" required>
                    <mat-option *ngFor="let estado of estados" [value]="estado.id">{{ estado.descripcion }}</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field class="example-form-field">
                  <mat-label>Fecha de Apremio</mat-label>
                  <input matInput placeholder="Mes/Día/Año" [matDatepicker]="picker" formControlName="fecha_apremio" required readonly>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                </div>
                 
                <div class="example-inline-container">
                  <mat-form-field class="example-form-field">
                    <mat-label>Fecha de comunición</mat-label>
                    <input matInput placeholder="Mes/Día/Año" [matDatepicker]="picker3" formControlName="fecha_comunicada" required readonly>
                    <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field class="example-form-field">
                    <mat-label>Fecha de Denunciada</mat-label>
                    <input matInput placeholder="Mes/Día/Año" [matDatepicker]="picker4" formControlName="fecha_denunciada" required readonly>
                    <mat-datepicker-toggle matIconSuffix [for]="picker4"></mat-datepicker-toggle>
                    <mat-datepicker #picker4></mat-datepicker>
                  </mat-form-field>

                  </div>               

                <div class="example-inline-container">
                      <mat-form-field class="example-form-field">
                        <mat-label>Numero de Radicacion</mat-label>
                        <input matInput type="number" formControlName="num_radicacion" required>
                      </mat-form-field>
     
                  </div>

              <div class="example-button-container">
                <!-- Agrega tus botones aquí -->
                <button mat-raised-button (click)="crearApremio()" color="primary" style="margin-right: 5px;">Aceptar</button>
                <button mat-raised-button [routerLink]="['/operaciones/apremiar']" color="secundary">Volver</button>
              </div>
    
        </form>
    </div>
 
    </div>
  </div> 
</div>


