/* .lista-desplegable {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
}

.lista-desplegable a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #333;
}

.lista-desplegable a:hover {
    background-color: #f0f0f0;
}

.hidden {
  display: none;
} */

#homeLink:hover {
    animation: blink 0.5s infinite alternate; /* Efecto de parpadeo al pasar el cursor por encima */
  }
  
  @keyframes blink {
    from {
      opacity: 1; /* Elemento completamente visible */
    }
    to {
      opacity: 0; /* Elemento invisible */
    }
  }