
<div class="container-pers">

  <div class="card card d-flex flex-column">
    <div class="card-header">
      <div class="row">
        <div class="col-md-8">
            <h2 style="color: rgb(95, 95, 95);">Crear Cancelación</h2>
        </div>
    </div>

  <div class="card-body flex-grow-1">

      <form [formGroup]="formCrear">
          <div class="example-inline-container">
              <mat-form-field class="example-form-field">
                <mat-label>Matriz </mat-label>
                <mat-select formControlName="id_matriz" required>
                  <mat-option *ngFor="let matriz of matrices" [value]="matriz.id">{{ matriz.c1 }}</mat-option>
                </mat-select>
              </mat-form-field>
              
              <mat-form-field class="example-form-field">
                <mat-label>Movimiento </mat-label>
                <mat-select formControlName="mov_multa_id" required>
                  <mat-option *ngFor="let  movimientoMulta of  movimientoMultas" [value]="movimientoMulta.id">{{movimientoMulta.operacion}}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
            
            <div class="example-inline-container">  
              <mat-form-field class="example-form-field">
                <mat-label>Fecha de Cancelación</mat-label>
                <input matInput placeholder="Mes/Día/Año" [matDatepicker]="picker" formControlName="fecha_cancelacion" required readonly>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <mat-form-field class="example-form-field">
                <mat-label>Concepto Cancelación </mat-label>
                <mat-select formControlName="ccancel_id" required>
                  <mat-option *ngFor="let conceptosCancelacion of conceptosCancelaciones" [value]="conceptosCancelacion.id">{{ conceptosCancelacion.descripcion }}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>

            <div class="example-inline-container">
              <mat-form-field class="example-form-field">
                <mat-label>Notas</mat-label>
                <input matInput formControlName="notas" required>
              </mat-form-field>
            </div>

            <div class="example-button-container">
              <!-- Agrega tus botones aquí -->
              <button mat-raised-button (click)="crearCancelar()" color="primary" style="margin-right: 5px;">Aceptar</button>
              <button mat-raised-button [routerLink]="['/operaciones/cancelar/listado']" color="secundary">Volver</button>
            </div>
  
      </form>
  </div>

  </div>
</div> 
</div>


