<div *ngIf="loading" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <div class="container-pers">
  
    <div class="card card d-flex flex-column">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
              <h2 style="color: rgb(95, 95, 95);">Detalles</h2>
          </div>
      </div>
  
    <div *ngIf="!loading" class="card-body flex-grow-1">
      <div class="container-fluid"> 
        <div class="row desplazador-horizontal">
          <div class="col-lg-6 col-md-12">
            <div class="half-text d-flex">
              <strong>Matriz:</strong>
              <div class="col-lg-6 col-md-12">
                <span *ngIf="devolucion.id_matriz">{{ devolucion.id_matriz }}</span>
              </div>
            </div>
            </div>

            <div class="half-text d-flex">
              <strong>Concepto Devolución:</strong>
              <div class="col-lg-6 col-md-12">
                  <span *ngIf="devolucion.concepto_devolucion_id">{{ devolucion.concepto_devolucion_id }}</span>
                </div>
            </div>
            
            <div class="half-text d-flex">
                <strong>Importe:</strong>
                <div class="col-lg-6 col-md-12">
                  <span>{{ devolucion.importe}}</span>
                </div>
            </div>
          

          <div class="half-text d-flex">
            <strong>Fecha:</strong>
            <div class="col-lg-6 col-md-12">
              <span>{{ devolucion.matriz_fecha }}</span>
            </div>
          </div>
          
          <div class="half-text d-flex">
              <strong>Concepto Cancelación:</strong>
              <div class="col-lg-6 col-md-12">
                <span>{{ devolucion.ccancel_id }}</span>
              </div>
            </div>

            <div class="half-text d-flex">
              <strong>Tipo de Multa:</strong>
              <div class="col-lg-6 col-md-12">
                <span *ngIf="devolucion.tipo_multa_id">{{ devolucion.tipo_multa_id }}</span>
              </div>
            </div>
        

            <div class="half-text d-flex">
              <strong>Organismo:</strong>
              <div class="col-lg-6 col-md-12">
                <span *ngIf="devolucion.organismo">{{ devolucion.organismo }}</span>
              </div>
            </div>
        

            <div class="half-text d-flex">
              <strong>Decreto Ley:</strong>
              <div class="col-lg-6 col-md-12">
                <span *ngIf="devolucion.decreto_ley">{{ devolucion.decreto_ley }}</span>
              </div>
            </div>
        

            <div class="half-text d-flex">
              <strong>Observaciones:</strong>
              <div class="col-lg-6 col-md-12">
                <span *ngIf="devolucion.observaciones">{{ devolucion.observaciones }}</span>
              </div>
            </div>
        
        
            <div class="half-text d-flex">
              <strong>Estados:</strong>
              <div class="col-lg-6 col-md-12">
                <span *ngIf="devolucion.state">{{ devolucion.state }}</span>
              </div>
            </div>
            
        </div>


          </div>
    </div>
    </div>
      <div class="example-button-container">
        <button mat-raised-button [routerLink]="['/operaciones/devolucion/listado']" color="secundary">Volver</button>
      </div>

    </div>
  
   
  </div> 
  

