
<div class="container-pers">

    <div class="card card d-flex flex-column">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
              <h2 style="color: rgb(95, 95, 95);">Crear Operador</h2>
          </div>
      </div>
  
    <div class="card-body flex-grow-1">
        <form [formGroup]="formCrear">
  
            <div class="example-inline-container">
                  <mat-form-field class="example-form-field">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="first_name" required>
                  </mat-form-field>

                  <mat-form-field class="example-form-field">
                    <mat-label>Apellidos</mat-label>
                    <input matInput formControlName="last_name" required>
                  </mat-form-field>

                  <mat-form-field class="example-form-field">
                    <mat-label>Oficina</mat-label>
                    <mat-select formControlName="occm" required>
                      <mat-option *ngFor="let occm of occms" [value]="occm.id">{{ occm.id_occm }}</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>

              <div class="example-inline-container">
                <mat-form-field class="example-form-field">
                    <mat-label>Cobro</mat-label>
                    <input matInput formControlName="cobro" required>
                  </mat-form-field>

                  <mat-form-field class="example-form-field">
                    <mat-label>identificador de Operador</mat-label>
                    <input matInput formControlName="id_operador" required>
                  </mat-form-field>

                  <mat-form-field class="example-form-field">
                    <mat-label>Cargo</mat-label>
                    <input matInput formControlName="cargo" required>
                  </mat-form-field>
              </div>

              <div class="example-inline-container">
                <mat-checkbox formControlName="is_active" color="primary">
                    Activo
                </mat-checkbox>
              </div>

              <div class="example-button-container">
                <!-- Agrega tus botones aquí -->
                <button mat-raised-button (click)="crearOperador()" color="primary" style="margin-right: 5px;">Aceptar</button>
                <button mat-raised-button [routerLink]="['/base/operador/listado']" color="secundary">Volver</button>
              </div>
    
        </form>
    </div>
  
    </div>
  </div> 
  
  



