
<div *ngIf="loading" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  
  <div class="container-pers">
  
    <div class="card card d-flex flex-column">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
              <h2 style="color: rgb(95, 95, 95);">Detalles del Modelo</h2>
          </div>
      </div>
  
    <div *ngIf="!loading" class="card-body flex-grow-1">
      <div class="container-fluid"> 
        <div class="row desplazador-horizontal">
          <div class="col-lg-6 col-md-12">
            <div class="half-text d-flex">
              <strong>Oficina:</strong>
              <div class="col-lg-6 col-md-12">
                <span *ngIf="modeloOc5.occm; else noIcon">{{ modeloOc5.occm.id_occm }}</span>
              </div>
              
            </div>

            <div class="half-text d-flex">
              <strong>Organismo:</strong>
              <div class="col-lg-6 col-md-12">
                <span *ngIf="modeloOc5.organismo_origen; else noIcon"  >{{ modeloOc5.organismo_origen.nombre }}</span>
                <ng-template #noIcon>
                  No
                </ng-template>
              </div>
            </div>

            <div class="half-text d-flex">
                <strong>Importe Total:</strong>
                <div class="col-lg-6 col-md-12">
                  <span>{{ modeloOc5.importe_total }}</span>
                </div>
              </div>
  
            <div class="half-text d-flex">
              <strong>Cantidad Multas:</strong>
              <div class="col-lg-6 col-md-12">
                <span>{{ modeloOc5.cantidad_multas }}</span>
              </div>
            </div>

          </div>
          <div class="col-lg-6 col-md-12">
            <div class="half-text d-flex">
                <strong>Suma de Dias:</strong>
                <div class="col-lg-6 col-md-12">
                  <span>{{ modeloOc5.suma_dias }}</span>
                </div>
              </div>

            <div class="half-text d-flex">
                <strong>Suma de Serie:</strong>
                <div class="col-lg-6 col-md-12">
                  <span>{{ modeloOc5.suma_serie }}</span>
                </div>
              </div>

            <div class="half-text d-flex">
              <strong>Estado:</strong>
              <div class="col-lg-6 col-md-12">
                <span>{{ modeloOc5.estado }}</span>
              </div>
            </div>

            <!-- <div class="half-text d-flex">
              <strong>Multas:</strong>
              <div class="col-lg-6 col-md-12">
                <span *ngIf="modeloOc5.multas; else noIcon">{{ modeloOc5.multas }}</span>
              </div>
            </div> -->

          </div>
        </div>
        <button (click)="openDialog()" mat-raised-button color="primary"> Ver Multas</button>
      </div>
      <div class="example-button-container">
        <button mat-raised-button [routerLink]="['/recepción/modeloOC5/listado']" color="secundary">Volver</button>
      </div>     
    </div>
    </div>
  </div> 

  <!-- Dialog -->
<ng-template #dialogTemplate let-dialogRef="dialogRef">
  <h1 mat-dialog-title>Multas Relacionadas</h1>
  <div mat-dialog-content>
    <table *ngIf="!loading" mat-table [dataSource]="dataSource" class="mat-elevation-z8 custom-table">

      <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef><strong> Fecha </strong></th>
          <td (click)="$event.stopPropagation()" mat-cell *matCellDef="let element"> <a
                  [routerLink]="['/recepción/modeloOC5/detalles/', element.id]"
                  class="link-estilizado">{{ element.fecha }} </a> </td>
      </ng-container>

      <ng-container matColumnDef="importe">
          <th mat-header-cell *matHeaderCellDef><strong> Importe </strong></th>
          <td (click)="$event.stopPropagation()" mat-cell *matCellDef="let element"> <a
                  [routerLink]="['/recepción/modeloOC5/detalles/', element.id]"
                  class="link-estilizado">{{ element.importe }} </a> </td>
      </ng-container>

      <ng-container matColumnDef="impositor">
          <th mat-header-cell *matHeaderCellDef><strong> Impositor </strong></th>
          <td (click)="$event.stopPropagation()" mat-cell *matCellDef="let element"> <a
                  [routerLink]="['/recepción/modeloOC5/detalles/', element.id]"
                  class="link-estilizado">{{ element.impositor}} </a> </td>
      </ng-container>
      <ng-container matColumnDef="talon">
          <th mat-header-cell *matHeaderCellDef><strong> Talon </strong></th>
          <td (click)="$event.stopPropagation()" mat-cell *matCellDef="let element"> <a
                  [routerLink]="['/recepción/modeloOC5/detalles/', element.id]"
                  class="link-estilizado">{{ element.talon }} </a> </td>
      </ng-container>
      <ng-container matColumnDef="dley_art_inc">
          <th mat-header-cell *matHeaderCellDef><strong> Decreto </strong></th>
          <td (click)="$event.stopPropagation()" mat-cell *matCellDef="let element"> <a
                  [routerLink]="['/recepción/modeloOC5/detalles/', element.id]"
                  class="link-estilizado">{{ element.dley_art_inc }} </a> </td>
      </ng-container>
      <ng-container matColumnDef="tipo_multa">
          <th mat-header-cell *matHeaderCellDef><strong> Tipo de Multa </strong></th>
          <td (click)="$event.stopPropagation()" mat-cell *matCellDef="let element"> <a
                  [routerLink]="['/recepción/modeloOC5/detalles/', element.id]"
                  class="link-estilizado">{{ element.tipo_multa }} </a> </td>
      </ng-container>
      <ng-container matColumnDef="estado_multa_id">
          <th mat-header-cell *matHeaderCellDef><strong> Estado Multa </strong></th>
          <td (click)="$event.stopPropagation()" mat-cell *matCellDef="let element"> <a
                  [routerLink]="['/recepción/modeloOC5/detalles/', element.id]"
                  class="link-estilizado"> {{ element.estado_multa_id }} </a> </td>
      </ng-container>

      <ng-container matColumnDef="moneda">
        <th mat-header-cell *matHeaderCellDef><strong> Moneda </strong></th>
        <td (click)="$event.stopPropagation()" mat-cell *matCellDef="let element"> <a
                [routerLink]="['/recepción/modeloOC5/detalles/', element.id]"
                class="link-estilizado"> {{ element.moneda }} </a> </td>
    </ng-container>

    <ng-container matColumnDef="conceptraslado">
      <th mat-header-cell *matHeaderCellDef><strong> Concepto de Traslado </strong></th>
      <td (click)="$event.stopPropagation()" mat-cell *matCellDef="let element"> <a
              [routerLink]="['/recepción/modeloOC5/detalles/', element.id]"
              class="link-estilizado"> {{ element.conceptraslado }} </a> </td>
  </ng-container>

  <ng-container matColumnDef="contraventor">
    <th mat-header-cell *matHeaderCellDef><strong> Contraventor </strong></th>
    <td (click)="$event.stopPropagation()" mat-cell *matCellDef="let element"> <a
            [routerLink]="['/recepción/modeloOC5/detalles/', element.id]"
            class="link-estilizado"> {{ element.contraventor }} </a> </td>
</ng-container>
      
      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef><strong>Acciones</strong></th>
          <td (click)="$event.stopPropagation()" mat-cell *matCellDef="let element">
              <div class="d-flex">
                  <button [routerLink]="['/recepción/modeloOC5/editar/', element.id]"
                      mat-mini-fab color="primary" style="margin-right: 5px;">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                  <button mat-mini-fab  color="warn">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>

              </div>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;">
      </tr>
  </table>
  </div>
  <div mat-dialog-actions align="end">
      <button mat-raised-button color="warn" (click)="dialogRef.close()">Cerrar</button>
  </div>
</ng-template>
  
  

