

<div class="container-pers">

    <div class="card card d-flex flex-column">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
              <h2 style="color: rgb(95, 95, 95);">Crear Modelo Oc37</h2>
          </div>
      </div>
  
    <div class="card-body flex-grow-1">
        <form [formGroup]="formCrear">
  
            <div class="example-inline-container">
                  <mat-form-field class="example-form-field">
                    <mat-label>OC5</mat-label>
                    <mat-select formControlName="oc5" required>
                      <mat-option *ngFor="let modeloOc5 of modelosOc5" [value]="modeloOc5.id">{{ modeloOc5.estado }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="example-form-field">
                    <mat-label>Oficina</mat-label>
                    <mat-select formControlName="occm">
                      <mat-option *ngFor="let occm of occms" [value]="occm.id">{{ occm.id_occm }}</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="example-form-field">
                    <mat-label>Fecha</mat-label>
                    <input matInput formControlName="fecha_creado">
                  </mat-form-field>
              
              </div>

              <div class="example-button-container">
                <!-- Agrega tus botones aquí -->
                <button mat-raised-button (click)="crearModeloOc37()" color="primary" style="margin-right: 5px;">Aceptar</button>
                <button mat-raised-button [routerLink]="['/base/modeloOc37/listado']" color="secundary">Volver</button>
              </div>
    
        </form>
    </div>
  
    </div>
  </div> 
  
  

