<div *ngIf="loading" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>

<div class="container-pers">

    <div class="card card d-flex flex-column">
        <div class="card-header">
            <div class="row">
                <div class="col-md-8">
                    <h2 style="color: rgb(95, 95, 95);">Detalles de la Entrega Recepción e Imposición</h2>
                </div>
            </div>

            <div *ngIf="!loading" class="card-body flex-grow-1">
                <div class="container-fluid">
                    <div class="row desplazador-horizontal">

                        <div class="col-lg-6 col-md-12">
                            <div class="half-text d-flex">
                                <strong>Fecha:</strong>
                                <div class="col-lg-6 col-md-12">
                                    <span>{{ entregas_recepcion_imposicion.fecha }}</span>
                                </div>
                            </div>

                            <div class="half-text d-flex">
                                <strong>Movimiento:</strong>
                                <div class="col-lg-6 col-md-12">
                                    <span>{{ entregas_recepcion_imposicion.movimiento }}</span>
                                </div>
                            </div>

                            <div class="half-text d-flex">
                                <strong>Código Entrega:</strong>
                                <div class="col-lg-6 col-md-12">
                                    <span>{{ entregas_recepcion_imposicion.codentrada }}</span>
                                </div>
                            </div>

                            <div class="half-text d-flex">
                                <strong>Entregado por:</strong>
                                <div class="col-lg-6 col-md-12">
                                    <span>{{ entregas_recepcion_imposicion.entregadox }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="half-text d-flex">
                                <strong>Recibido por:</strong>
                                <div class="col-lg-6 col-md-12">
                                    <span>{{ entregas_recepcion_imposicion.recibidox }}</span>
                                </div>
                            </div>

                            <div class="half-text d-flex">
                                <strong>Referencia:</strong>
                                <div class="col-lg-6 col-md-12">
                                    <span>{{ entregas_recepcion_imposicion.referencia }}</span>
                                </div>
                            </div>

                            <div class="half-text d-flex">
                                <strong>Serie:</strong>
                                <div class="col-lg-6 col-md-12">
                                    <span>{{ entregas_recepcion_imposicion.serie }}</span>
                                </div>
                            </div>

                            <div class="half-text d-flex">
                                <strong>NumerD:</strong>
                                <div class="col-lg-6 col-md-12">
                                    <span>{{ entregas_recepcion_imposicion.numerd }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="half-text d-flex">
                                <strong>NumerH:</strong>
                                <div class="col-lg-6 col-md-12">
                                    <span>{{ entregas_recepcion_imposicion.numerh }}</span>
                                </div>
                            </div>

                            <div class="half-text d-flex">
                                <strong>Carga Inicial:</strong>
                                <div class="col-lg-6 col-md-12">
                                    <span>{{ entregas_recepcion_imposicion.carga_inicial }}</span>
                                </div>
                            </div>

                            <div class="half-text d-flex">
                                <strong>Estado:</strong>
                                <div class="col-lg-6 col-md-12">
                                    <span>{{ entregas_recepcion_imposicion.estado }}</span>
                                </div>
                            </div>

                            <div class="half-text d-flex">
                                <strong>Tipo:</strong>
                                <div class="col-lg-6 col-md-12">
                                    <span>{{ entregas_recepcion_imposicion.tipo }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <div class="half-text d-flex">
                                <strong>Activo:</strong>
                                <div class="col-lg-6 col-md-12">
                                    <span>{{ entregas_recepcion_imposicion.activo}}</span>
                                </div>
                            </div>

                            <div class="half-text d-flex">
                                <strong>OCCM Destino:</strong>
                                <div class="col-lg-6 col-md-12">
                                    <span>{{ entregas_recepcion_imposicion.occm_destino.descripcion}}</span>
                                </div>
                            </div>
                            <!-- <div class="half-text d-flex">
                                <strong>Organismo:</strong>
                                <div class="col-lg-6 col-md-12">
                                    <span>{{ entregas_recepcion.organismo.nombre}}</span>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="example-button-container">
                <button mat-raised-button [routerLink]="['/talonarios/entrega-recepcion-imposicion/listado']"
                    color="secundary">Volver</button>
            </div>
        </div>

    </div>
</div>