
<div *ngIf="loading" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

<div class="container-pers">

    <div class="card card d-flex flex-column">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
              <h2 style="color: rgb(95, 95, 95);">Editar Duplicación</h2>
          </div>
      </div>
  
    <div *ngIf="!loading" class="card-body flex-grow-1">
        <form [formGroup]="formEditar">

            <div class="example-inline-container">
              <mat-form-field class="example-form-field">
                <mat-label>Matriz </mat-label>
                <mat-select formControlName="id_matriz" required>
                  <mat-option *ngFor="let matriz of matrices" [value]="matriz.id">{{ matriz.c1 }}</mat-option>
                </mat-select>
              </mat-form-field>
                
                <mat-form-field class="example-form-field">
                  <mat-label>Movimiento</mat-label>
                  <input matInput formControlName="mov_multa_id" required>
                </mat-form-field>
               
              </div>
              
              <div class="example-inline-container"> 
                <mat-form-field class="example-form-field">
                  <mat-label>Fecha</mat-label>
                  <input matInput placeholder="Mes/Día/Año" [matDatepicker]="picker" formControlName="matriz_fecha" required readonly>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field> 

            </div>
            
              <div class="example-button-container">
                <!-- Agrega tus botones aquí -->
                <button mat-raised-button (click)="editarDuplicacion()" color="primary" style="margin-right: 5px;">Aceptar</button>
                <button mat-raised-button [routerLink]="['/operaciones/duplicacion']" color="secundary">Volver</button>
            </div>
    
        </form>
    </div>
 
    </div>
  </div> 




