
<div class="container-pers">

    <div class="card card d-flex flex-column">
      <div class="card-header">
        <div class="row">
          <div class="col-md-8">
              <h2 style="color: rgb(95, 95, 95);">Crear Ajustes</h2>
          </div>
      </div>
  
    <div class="card-body flex-grow-1">
  
        <form [formGroup]="formCrear">
            <div class="example-inline-container">
                <mat-form-field class="example-form-field">
                  <mat-label>Matriz </mat-label>
                  <mat-select formControlName="matriz_id" required>
                    <mat-option *ngFor="let matriz of matrices" [value]="matriz.id">{{ matriz.c1 }}</mat-option>
                  </mat-select>
                </mat-form-field>
                
                <mat-form-field class="example-form-field">
                  <mat-label>Concepto de Ajuste </mat-label>
                  <mat-select formControlName="concepto_ajuste_id" required>
                    <mat-option *ngFor="let  conceptoAjuste of  conceptoAjustes" [value]="conceptoAjuste.id">{{conceptoAjuste.descripcion}}</mat-option>
                  </mat-select>
                </mat-form-field>
                
            </div>
            
            <div class="example-inline-container">  
                <mat-form-field class="example-form-field">
                    <mat-label>Importe Ajustado </mat-label>
                    <input matInput formControlName="importe_ajustado" type="number" required/>
                </mat-form-field>
                
                <mat-form-field class="example-form-field">
                    <mat-label>No. Res(Auto)</mat-label>
                    <input matInput formControlName="no_res" required>
                </mat-form-field>
                
            </div>
            
            <div class="example-inline-container">
                <mat-form-field class="example-form-field">
                    <mat-label>Observaciones</mat-label>
                    <input matInput formControlName="observaciones" required>
                </mat-form-field>
                
                <mat-form-field class="example-form-field">
                  <mat-label>Movimiento </mat-label>
                  <mat-select formControlName="mov_multa_id" required>
                    <mat-option *ngFor="let  movimientoMulta of  movimientoMultas" [value]="movimientoMulta.id">{{movimientoMulta.operacion}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
  
              <div class="example-button-container">
                <!-- Agrega tus botones aquí -->
                <button mat-raised-button (click)="crearAjustar()" color="primary" style="margin-right: 5px;">Aceptar</button>
                <button mat-raised-button [routerLink]="['/operaciones/ajustar/listado']" color="secundary">Volver</button>
              </div>
    
        </form>
    </div>
  
    </div>
  </div> 
  </div>
  
  
  